{% extends "main.html" %}
{% block body %}

{% from "_form_macro.html" import render_form, render_field_with_errors, render_field %}

  <div class="row">
    <header>PUBLISHER</header>
    <br />
    <br />
      <div class="large-12 columns">
        {% call render_form(action=url_for('publisher')) %}
          {{ form.hidden_tag() }}
            {# <input name=_csrf_token type=hidden value="{{ csrf_token() }}"> #}
            <div class="large-4 columns">
              {{ render_field_with_errors(form.name, class="small-3 columns") }}
            </div>
            <div class="large-4 columns">
              {{ render_field_with_errors(form.address, class="large-12 columns", rows="6") }}
            </div>
            <div class="large-4 columns">
              <br />
              <input type="submit" value="Add New Publisher" />
            </div>
        {% endcall %}
      </div>
      <div class="large-12 columns">
    <br />
    <br />
        <table class="">
          <thead>
            <tr>
              <th width="50">Sl No:</th>
              <th width="200">Name</th>
              <th width="150">Address</th>
              <th width="150">No of Books</th>
              <th width="150">Edit</th>
              <th width="150">Delete</ th>
            </tr>
          </thead>
          <tbody>
            {% for publisher in publishers %}
              <tr class="{{ loop.cycle('odd', 'even') }}">
                <td>{{loop.index}}</td>
                <td>{{publisher.name|e}}</td>
                <td>{{publisher.address|e}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

{% endblock %}
{% block script %}
{% endblock %}